<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Signup</h1>
    <form action="/user" method="post">
        <label >Name</label>
        <input type="text" name = "name" required>
        <label >email</label>
        <input type="text" name = "email" required>
        <label >password</label>
        <input type="text" name = "password" required>
        
        <button type="submit">Submit</button>
        
    </form>
</body>
</html>